src/main/resources/xsd/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Testas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Asmenys">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Asmuo" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Vardas"/>
                                        <xs:element type="xs:string" name="Pavarde"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="cnt"/>
                        <xs:attribute type="xs:byte" name="foo"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>